body {
  color: #000;
  font-family: 'Ruluko', sans-serif;
  font-size: 24px;
}
#slider {
  margin: 0 auto;
  width: 800px;
  max-width: 100%;
}
#slider input[type='radio'] {
  display: none;
}
#slider label {
  cursor: pointer;
  text-decoration: none;
  padding: 10px;
}
#slides {
  padding: 10px;
  background: #fff;
  position: relative;
  z-index: 1;
}

#slides img {
  max-width: 100%;
  height: 600px;
  object-fit: contain;
}
#overflow {
  width: 100%;
  overflow: hidden;
}
#slide1:checked ~ #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
  margin-left: -300%;
}
#slide1:checked ~ .slider-bottom #slides .inner {
  margin-left: 0;
}
#slide2:checked ~ .slider-bottom #slides .inner {
  margin-left: -100%;
}
#slide3:checked ~ .slider-bottom #slides .inner {
  margin-left: -200%;
}
#slide4:checked ~ .slider-bottom #slides .inner {
  margin-left: -300%;
}
#slides .inner {
  transition: margin-left 800ms cubic-bezier(0.77, 0, 0.175, 1);
  width: 400%;
  line-height: 0;
}
.slider-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.slider-bottom #slides .inner {
  height: auto;
}
.slider-bottom #slides .slide {
  justify-content: start;
}
#slides .slide {
  width: 25%;
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#bullets {
  height: 100%;
  text-align: end;
}
#bullets .bullet {
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background: #ccc;
  margin: 0 10px;
  transition: all 0.3s ease-in-out;
}
#bullets .bullet:hover {
  background-color: rgb(101, 101, 224);
}
#slide1:checked ~ .slider-bottom #bullets label:nth-child(1) .bullet,
#slide2:checked ~ .slider-bottom #bullets label:nth-child(2) .bullet,
#slide3:checked ~ .slider-bottom #bullets label:nth-child(3) .bullet,
#slide4:checked ~ .slider-bottom #bullets label:nth-child(4) .bullet {
  background: rgb(101, 101, 224);
}
@media (max-width: 768px) {
  .slider-bottom {
    flex-direction: column;
  }
  #bullets {
    order: -1;
  }

  #slides img {
    height: 400px;
  }
  .slider-bottom {
    margin-top: 20px;
  }
}
